$color-violet: #d9d2e9;
$color-blue: #cfe2f3;

$border-std: 1px solid #000000;

@mixin transition-ease($time) {
  webkit-transition: all $time ease;
  -ms-transition: all $time ease;
  -o-transition: all $time ease;
  transition: all $time ease;
}

@mixin logo-figure {
  width: 78px;
  height: 78px;
  border: $border-std;
  background-color: $color-blue;
}

%trapesoid-border {
  content: '';
  height: 6px;
  width: 21px;
  display: block;
  position: absolute;
}