@import 'variables';
@import 'bootstrap_custom';

body {
  background-color: #ffffff;
}

.main-container {
  width: 930px;
  margin: 50px auto;

}

/* ===== HEADING BLOCK ===== */
.heading {
  height: 105px;
  margin-bottom: 33px;

  div {
    display: inline-block;
    vertical-align: middle;

     h1 {
       margin: 0 0 0 50px;
     }
  }

  /* LOGO */
  .logo {
    @include logo-figure;
    position: relative;

      &::before {
        @include logo-figure;
        display: block;
        content: '';
        position: absolute;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &::after {
        content: '';
        width: 76px;
        height: 76px;
        background-color: $color-blue;
        z-index: 1;
        position: absolute;
      }

    span {
      position: absolute;
      top: 28px;
      left: 28px;
      z-index: 2;
    }
  }
  /* LOGO [END] */
}

/* ===== CONTENT BLOCK ===== */
.content {
  border: $border-std;
  width: 100%;
  background-color: $color-violet;
  position: relative;
  margin-bottom: 30px;

  /* SIDEBAR */
  .control-panel {
    width: 263px;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-blue;
    overflow: hidden;

    .control-block {
      width: 100%;
      height: 33px;
      font-size: 16px;
      padding-left: 13px;
      background-color: $color-blue;

      border-bottom: $border-std;
      border-right: $border-std;

      @include transition-ease(.5s);

      &:first-child {
        border-top: none;
      }

      .text {
        height: 33px;
        display: table-cell;
        vertical-align: middle;
      }

      &:hover {
        cursor: pointer;
      }

      &.active-btn {
        background-color: $color-violet;
        border-right: 0px solid #000;

        &:hover {
          cursor: unset;
        }
      }
    }

    .spacer {
      height: 100%;
      width: 100%;
      border-right: $border-std;
    }

  }

  /* SWITCHABLE CONTENT */
  .switch-content {
    display: inline-block;
    margin-left: 263px;
    height: 520px;
    width: 667px;
    position: relative;

    .switch-item {
      padding: 30px;
      font-size: 13px;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      @include transition-ease(.5s);

      .row {
        margin-bottom: 20px;
      }

      &.active-item {
        opacity: 1;
      }
    }
  }

  /* RIGHT-TOP CORNER FIGURE */
  .square-figure {
    &::before {
      content: '';
      z-index: 1;
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: $color-blue;
      border: $border-std;
      top: -1px;
      left: -1px;
    }

    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;


    .trapezoid {
      position: absolute;
      height: 13px;

      &.t-top{
        top: -6px;
        background-color: $color-blue;

        &::after {
          right: -31px;
          background-color: $color-blue;
        }
        &::before {
          left: -5px;
          background-color: $color-blue;
        }
      }

      &.t-bottom{
        bottom: -6px;
        background-color: $color-blue;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);

        &::after {
          right: -4px;
          background-color: #a5b4c2;
        }
        &::before {
          right: 10px;
          background-color: #a5b4c2;
        }
      }

      &.t-right{
        right: 1px;
        background-color: $color-blue;
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);

        &::after {
          left: 4px;
          background-color: #7c8791;
        }
        &::before {
          right: -11px;
          background-color: #7c8791;
        }
      }

      &.t-left{
        left: 0px;
        background-color: $color-blue;
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);

        &::after {
          right: -9px;
          background-color: $color-blue;
        }
        &::before {
          right: 4px;
          background-color: $color-blue;
        }
      }

      &::after {
        @extend %trapesoid-border;
        border-right: $border-std;
        border-top: $border-std;
        -webkit-transform: skew(-45deg);
        -moz-transform: skew(-45deg);
        -o-transform: skew(-45deg);
        transform: skew(-45deg);
      }

      &::before {
        @extend %trapesoid-border;
        border-left: $border-std;
        border-top: $border-std;
        -webkit-transform: skew(45deg);
        -moz-transform: skew(45deg);
        -o-transform: skew(45deg);
        transform: skew(45deg);
      }

    }
  }
}